*{margin: 0;
padding: 0;}
body{
    background-image: url("image/backgound1.jpg");
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
}

.center-page{
    width: 960px;
    min-height: 900px;
    margin: auto;
    background-color: #e2dcdc;
}
.logo{
    width: 960px;
    height: 150px;
    background-color: red;
    position: relative;
}
.logo-image{
    width: 120px;
    height: 120px;
    margin-left: 93px;
    margin-top: 16px;
}
.name-company{
    font-family: Khmer OS Muol Light ;
    margin-left: 251px;
    margin-top: -123px;
}
.name{
    margin-left: 319px;
}
